{{ define "issue_detail.html" }}
{{ template "layout.html" . }}
{{ end }}

{{ define "content" }}
{{ $issueData := .Data }}
{{ $issue := $issueData.Issue }}

<div class="issue-detail">
    <div class="issue-header">
        <div class="issue-status {{ if eq $issue.Status "Closed" }}closed{{ else }}open{{ end }}">
            {{ $issue.Status }}
        </div>
        <div class="issue-info">
            <h3 class="issue-title">#{{ $issue.ID }}: {{ $issue.Title }}</h3>
            <div class="issue-meta">
                <span class="issue-author">Created by: {{ $issue.CreatedBy }}</span>
                <span class="issue-date">{{ $issue.CreatedAt }}</span>
                {{ if $issue.AssignedTo }}
                <span class="issue-assignee">Assigned to: {{ $issue.AssignedTo }}</span>
                {{ end }}
            </div>
        </div>
    </div>

    <div class="issue-description">
        <h4>Description</h4>
        <div class="description-content">
            {{ $issueData.Description }}
        </div>
    </div>

    {{ if $issueData.Comments }}
    <div class="issue-comments">
        <h4>Comments</h4>
        <ul class="comment-list">
            {{ range $issueData.Comments }}
            <li class="comment-item">{{ . }}</li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</div>

<p class="back-link"><a href="/issues">← Back to issues</a></p>
{{ end }}
